*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background-color: #aeafb2;
    background-blend-mode: difference;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    margin: 0;
}
h1{
    font-size: 5.62rem ;
    font-family: 'Sacramento', cursive;
    text-shadow: 0 0 3px #FF0000;
    margin: 100px auto 100px auto;
    color:  #d2e9e9;
    line-height: 1;
}
.psnd{
    margin: 100px 0;
}
h2{
    color:  hsl(0, 0%, 96%);
    text-shadow: 0 0 3px #FF0000;
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    padding-bottom: 10px;
}
p {
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 1.5;
}

.emoji {
    font-size: 1.5rem;
}

.hemant, .shalini {
    padding: 15px;
    margin: 1%;
    color: #fff;
}

.hemant p, .shalini p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #f4e8ee;
}

.hemant span {
    font-weight: bold;
}
a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
  }

  a:hover {
    color: grey;
  }
 .shalini strong{
    color:  #030102;
  }

